<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
<button id="send">发送</button>
<span id="test">hello</span>
<script>
    $("#send").click(function () {
        var post_data={
            "name":"klp",
        };

        $.ajax({
            url:"/choose/",
            type:"POST",
            data:post_data,

            success:function (data) {
                alert(data[0].status);
            },
            error:function () {
                alert("服务器请求超时,请重试!")
            }

        });
    });
</script>
</body>
</html>